---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "Policies";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="mx-auto max-w-prose prose mt-28 mb-16 px-8">
    <h1 class="mb-8">{pageTitle}</h1>
    <article class="mb-12">
      <h2 class="font-sans mb-2">Appointment Hours</h2>
      <p class="mb-8">
        Availability by appointments only. Please
        <a href="/contact">call or email to book your session!</a>
      </p>
    </article>
    <article class="mb-12">
      <h2 class="font-sans mb-2">Intake and Consent Forms</h2>
      <p class="mb-8">
        All intake forms must be completed at least 24 hours in advance to help
        us prepare for you. An intake and consent form will be completed and
        signed at the first appointment 10 mins prior to or during the scheduled
        time.
      </p>
    </article>
    <article class="mb-12">
      <h2 class="font-sans mb-2">What to Wear To Your Appointment</h2>
      <p>
        It is preferable that you wear a tank top with a low neckline to allow
        us to address the neck, upper shoulders, arms, and hands. If you are
        receiving a body-focused session, we ask that you wear loose clothing
        that is easy to keep out of the way during the appointment and avoid
        causing irritation.
      </p>
      <p>
        Please avoid arriving with any jewelry or accessories that are difficult
        to remove if possible.
      </p>
    </article>
    <article class="mb-12">
      <h2 class="font-sans mb-2">Cards on File</h2>
      <p>
        Enzo Glow requires a card to be on file to book appointments. If you
        wish to use a different card or form of payment after your session, you
        may do so at checkout when we confirm the payment method with you.
      </p>
    </article>
    <article class="mb-12">
      <h2 class="font-sans mb-2">Deposits</h2>
      <p>No deposits are required, except in the following cases:</p>
      <ul class="flex flex-col gap-4 list-disc pl-6">
        <li>
          Late arrivals, where we will give you the option to reschedule with a
          20% deposit at time of booking
        </li>
        <li>
          For the 2nd cancellation and subsequent cancellations of an
          appointment, where you will need to pay a deposit of 20% of the
          appointment cost to reschedule
        </li>
      </ul>
      <p>
        Please review our policies regarding
        <a href="#late-arrivals">late arrivals</a>
        and
        <a href="#cancellations">cancellations</a>
        .
      </p>
    </article>
    <article class="mb-12">
      <a name="late-arrivals" class="policy-anchor"></a>
      <h2 class="font-sans mb-2">Late Arrivals</h2>
      <p>
        In order to stay on schedule for all of our clients, we ask that you
        arrive at least 5 minutes early to get settled in, use the restroom, or
        drink some water before your appointment.
      </p>
      <p>
        If you will be late, please give us a call or a text to let us know when
        to expect you. If you will be more than 10 minutes late, we will give
        you the option to reschedule with a 20% deposit at time of booking.
      </p>
      <p>
        Chronic late arrivals prevent us from being able to give you the best
        experience, and lost time will not be made up beyond the scheduled
        appointment time.
      </p>
    </article>
    <article class="mb-12">
      <a name="cancellations" class="policy-anchor"></a>
      <h2 class="font-sans mb-2">Cancellations</h2>
      <p>
        We understand that emergencies can happen, so the first cancellation
        made less than 24 hours prior to the appointment will have the option to
        reschedule. Any following cancellations made within less than 24 hours
        of scheduled appointments will need to pay a deposit of 20% of the
        appointment cost to reschedule and will have it applied towards the
        session total.
      </p>
      <p>
        Our products, equipment, and time in the office is valuable, so we ask
        that you communicate with us as best as you can. There will be reminders
        leading up to your appointment to give you the opportunity to reschedule
        if needed.
      </p>
      <p>
        Chronic last minute cancellations will not be allowed to book future
        appointments.
      </p>
    </article>
    <article class="mb-12">
      <h2 class="font-sans mb-2">No Shows</h2>
      <p>
        In the case of a no-show, for the first occasion, Enzo Glow will charge
        your card on file for 50% of the full amount of the service and notify
        you beforehand.
      </p>
      <p>
        We understand that emergencies happen, and will always make an effort to
        accommodate you at another time if we are able to directly contact you.
      </p>
      <p>Chronic no-shows will not be allowed to book future appointments.</p>
    </article>
  </section>
</BaseLayout>
